<div class="container-fluid" id="content-one">
  <div class="overlay" id="content-one-overlay">
    <div class="row clearfix">
      <div class="col-md-4"></div>
      <div class="col-md-4>">
        <div style="margin: auto;">
          <img class="img-fluid" alt="logo_full" style="text-align: center; height: 50%; width: 50%;" src="assets/images/logo_black.jpeg" data-holder-rendered="true">
          <h2 class="text-muted" >Revolutioning the way you code</h2>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>

<div class="container-fluid" id="content-two">
  <div class="row clearfix">
    <div class="col-md-6">
      <div class="overlay" id="content-two-overlay">
        <div class="row clearfix">
          <div style="margin: auto; width:90%;">
            <textarea cols="40" rows="12" placeholder="Enter code here" id="input-field" #inputField>// bubblesort program
public void bubblesort() {
  array = [3, 2, 4, 5, 1];
  array = array.sort();
  print(array);
}
                
# search program
def search():
  array = [2 3 4 5 1]
  x = 8
  if(array.contains(x)):
    print('element found!')
  else:
    print('element not found :(')
                
void main() {
  bubblesort();
  search();
}</textarea>
            <button id="button-convert" (click)="convert(inputField.value)">Run</button>
          </div>
        </div>
      </div>      
    </div>
    <div class="col-md-6">
      <div class="overlay" id="content-two-overlay">
        <div class="row clearfix">
          <div style="margin: auto; width:90%;">
            <textarea cols="40" rows="12" placeholder="Output" id="output-field" #outputField>{{output}}</textarea>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>